{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
    <h1>Add Employee</h1>
    <form method="POST" action="{{ url_for('add_employee') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.age.label }} {{ form.age }}
        </div>
        <div>
            {{ form.position.label }} {{ form.position }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
