{% extends "base.html" %}
{% block content %}
    <h2 class="mb-4">Login</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- <div class="form-group form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div> -->
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
